<ul>
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "My Items", my_items_path %></li>
  <li><%= link_to "My Cart", my_cart_path %></li>
  <li><%= link_to "Previous Orders", carts_path %></li>
  <li><%= link_to "My Sold Items", sold_path %></li>
  <li><%= link_to "Sign in", new_user_session_path %></li>
  <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
  <li><%= link_to "Logout", destroy_user_session_path, method: :delete %>
</ul>
